<app-navigation-bar></app-navigation-bar>

<div class="wavvy-hero">
    <div class="wavvy-hero-section">
        <img class = "s-image" src="../../assets/images/allyfresh-logo-black.png" alt="" loading="lazy">
    </div>
    <div class="wavvy-hero-section">
        <h3 class="wavvy-title">Ally Fresh</h3>
        <h5 class="wavvy-sub-title">Embracing Africa, Its Culture, Music And Discovering Your True Self. That’s What He Represents.</h5>
    </div>
    <div class="wavvy-hero-section wavvy-hero-image-wrapper">
        <a class="wavvy-image-link">
            <img class = "wavvy-image" src="../../assets/images/allyfresh-hero.png" loading="lazy">
        </a>
    </div>
</div>

<div class="project-background">
    <div class="project-bg-item" *ngFor="let item of projectItems">
        <a class="project-bg-image">
            <img src="{{item.images}}" width="17px" loading="lazy">
        </a>
        <p class="project-bg-text">{{item.text}}</p>

        <div class="project-bg-wrapper">
            <p class="project-bg-text light">{{item.description}}</p>
            <p class="project-bg-text light">{{item.description2}}</p>
            <p class="project-bg-text light">{{item.description3}}</p>
            <p class="project-bg-text light">{{item.description4}}</p>
            <p class="project-bg-text light">{{item.description5}}</p>
        </div>
    </div>
</div>

<div class="approach">
    <img src="../../assets/images/approach-black.svg" width="50px" class="approach-logo" loading="lazy">
    <p class="approach-text">Approach & Process</p>
    <div class="horizontal-line"></div>
</div>

<div class="approach-wrapper container">
    <div class="approach-items" *ngFor="let item of approach">
        <a class="approach-image">
            <img src="{{item.images}}" width="50px" loading="lazy">
        </a>
        <p class="approach-item-text">{{item.text}}</p>
        <div class="approach-item-description">
            <p class="approach-list-item">{{item.description}}</p>
            <p class="approach-list-item">{{item.description2}}</p>
            <p class="approach-list-item">{{item.description3}}</p>
            <p class="approach-list-item">{{item.description4}}</p>
            <p class="approach-list-item">{{item.description5}}</p>
        </div>
    </div>
</div>

<div class="challenge">
    <h4 class="challenge-text">Our Challenge</h4>
    <p class="challenge-description">How might we create an online artist platform that communicates to vendors, investors, publicists, agencies and fans relevantly ensuring brand differentiation for the artist?</p>
</div>

<div class="goals">
    <h4 class="challenge-text">Project Goals</h4>
    <p class="challenge-description">Ally Fresh is a DJ/Producer based in Nairobi, Kenya. He describes himself as the merchant of deep, infectious and rhythmic African grooves with a feel good factor. Definitely not one of your usual DJ suspects, Ally Fresh is a polymath. He couples as a UX/UI designer and a <br>prolific software engineer.</p>
    <p class="challenge-description more-desc"><b>Goal #1:</b>Create an online platform that communicates and differentiates the artist in order to secure bookings and brand endorsement deals.</p>
    <p class="challenge-description more-desc"><b>Goal #2:</b>Create an online platform that provides vendors and fans access to material conveniently.</p>
    <p class="challenge-description more-desc"><b>Goal #3:</b>Create a condensed online portfolio for the artist.</p>
    <p class="challenge-description more-desc"><b>Goal #4:</b>Create an online platform that constantly incorporates all active social media content within the artist’s platform.</p>
</div>

<div class="insights-container">
    <div class="insights">
        <h4 class="learning-insights">Learning About Our Users</h4>
        <p class="key-insights">Key Insights from User Research</p>
        <p class="understand-insights">To learn and understand better the goals, motivations and frustrations of our users, we conducted user interviews , usability testing and generated a user persona to guide in collecting and analyzing the user research.</p>
        <!-- <a href="https://drive.google.com/file/d/1_rqxGfds75ojkJdH90d-Ie0HaRbHHGeF/view?usp=sharing" target="_blank" class="button-insights-link"><button class="button-insights">View User Personas<img src="../../assets/images/arrow-right.svg" width="16px" height="10px"></button></a> -->
    </div>

    <div class="research" *ngFor="let item of research">
        <p class="research-item insight1">{{item.insight1}}</p>
        <p class="research-item insight2">{{item.insight2}}</p>
        <img class="research-item insight3" src="{{item.insight3}}" width="40px" height="51px" loading="lazy">
        <p class="research-item insight4"></p>
        <p class="research-item insight5">{{item.insight5}}</p>
        <p class="research-item insight6">{{item.insight6}}</p>
    </div>
</div>

<div class="sitemap-container">
    <h4 class="sitemap-heading">User Experience Sitemap</h4>
    <p class="sitemap-heading-small">Current Platform</p>
    <img class = "sitemap-image" src="../../assets/images/ally-fresh-site-map.png" loading="lazy">
</div>

<div class="insights-container nav-container">
    <div class="insights">
        <h4 class="learning-insights">Navigation Structure</h4>
    </div>

    <div class="navigation" *ngFor="let item of navigation">
        <p class="navigation-item insight2 nav-insight">{{item.insight2}}</p>
        <p class="navigation-item insight5 nav-insight">{{item.insight5}}</p>
    </div>
</div>

<div class="design-approach">
    <h4 class="design-approach-text">Usability Testing</h4>
    <p class="design-approach-sub-text">Key insights collected from usability testing and user research surfaced insightful improvements and optimizations</p>
    <h5 class="design-approach-text recommendations">Recommendations</h5>
    <p class="design-approach-sub-text design-main-text">Incorporate elegantly styled cover artworks to capture the audience’s attention</p>
    <img class = "design-approach-image wordpress" src="../../assets/images/hutia.png" loading="lazy">
    <p class="design-approach-sub-text design-main-text">Showcase social media content</p>
    <p class="design-approach-sub-text">Embed the artists Instagram posts / stories, YouTube and music streaming platform widgets</p>
    <img class = "design-approach-image wordpress" src="../../assets/images/social.png" loading="lazy">
    <p class="design-approach-sub-text design-main-text">Incorporate content that embodies the 3 pillars of the artist - Music, Fashion, and Technology</p>
    <p class="sitemap-heading-small">Redesigned user experience sitemap</p>
    <img class = "design-approach-image sitemap-2" src="../../assets/images/ally-fresh-sitemap-2.png" loading="lazy">
</div>

<div class="partnership">
    <p class="design-approach-sub-text design-main-text">Showcase successful brand partnership stories</p>
</div>

<div class="insights-container partnership-details">
    <div class="insights">
        <h4 class="learning-insights">Sample Partnership Case Study - Sho Madjozi x Hennessy</h4>
    </div>

    <div class="sho-wrapper">
        <img src="../../assets/images/sho-1.png" class="sho-image">
        <img src="../../assets/images/sho-2.png" class="sho-image">
    </div>

    <div class="sho-wrapper-1">
        <img src="../../assets/images/sho-3.png" class="sho-image">
    </div>

    <div class="sho-wrapper sho-wrapper-2">
        <img src="../../assets/images/sho-4.png" class="sho-image">
        <img src="../../assets/images/sho-5.png" class="sho-image">
    </div>
</div>

<div class="visual-concept">
    <p class="visual-concept-item title">Visual Concept</p>
    <p class="visual-concept-item scheme">Color Scheme</p>
    <p class="visual-concept-item audience">Ally Fresh makes use of a minimalistic black and white color palette contrast, shifting focus towards the content showcased on the website.</p>
    <div class="colors-wrapper">
        <div class="colors" *ngFor="let item of colors">
            <img class="visual-concept-item" src="{{item.image}}" width="75px" height="75px" loading="lazy">
            <p class="visual-concept-item hex">{{item.hex}}</p>
        </div>
    </div>
    <p class="visual-concept-item typography-title">Typography</p>
    <div class="typography-wrapper">
        <div class="typography" *ngFor="let item of typography">
            <p class="visual-concept-item example1 {{item.class}}">{{item.text}}</p>
            <p class="visual-concept-item example3 {{item.class}}">{{item.text3}}</p>
        </div>
    </div>
</div>

<div class="prototype">
    <h3 class="prototype-text">High Fidelity Prototype Designs</h3>
    <lib-carousel id="prototype"
      [sliderItems]="partnersCarousel" 
      [sliderOptions]="partnersOptions"
      [slidesToShow] = 2
      [autoSlide]="true"
      [slideInterval]="4000">
    </lib-carousel>
</div>

<div>
    <p class="visual-concept-item title useful-link">Useful Links</p>
    <div class="useful">
        <div class="useful-wrapper" *ngFor="let item of useful">
            <a href="{{item.link}}" target="_blank"><img src="{{item.image}}" alt="" width="80%" class="useful-image" loading="lazy"></a>
            <p class="useful-sub-text">{{item.subtext}}</p>
            <p class="useful-text">{{item.text}}</p>
        </div>
    </div>
</div>



<app-footer></app-footer>