<app-navigation-bar></app-navigation-bar>

<div class="contact">
    <div class="get-in-touch">
        <p class="in-touch-text">Get In Touch</p>
        <p class="in-touch-sub-text">Want to get in touch? I'd love to hear from you. Here's how you can reach me.</p>
    </div>
    <div class="talk-to-me">
        <img src="../../assets/images/contact.svg" alt="" class="talk-image" loading="lazy">
        <p class="talk-text">+254 715 415 865</p>
        <p class="talk-text">dennischivatsi@gmail.com</p>
    </div>
</div>

<app-footer></app-footer>