/* You can add global styles to this file, and also import other style files */

$primary:#ff5a5f;
$secondary:#484848;
$modal-fade-transform: scale(.8);

@import "~bootstrap/scss/bootstrap";

body {
    background-color: #fafafa;
}
:root {
    --color-white: #ffffff;
    --color-text-black: #2c2c2c;
    --color-purple: #562af0;
    --color-bg-black: #141418;
    --color-text-gold: #fdad00;
    --color-text-blue: #3a499f;
    --color-line: #707070;
    --color-body: #fafafa;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 600px) {
    #partners .carousel-container {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-columns: 0%;
        margin-top: 7vh;
        padding-bottom: 5vh;
        justify-items: center;
    }

    #partners .item-active {
        padding-left: 7vw !important;
    }

}

#partners {

    .sisitech .slider-img {
        max-width: 80% !important;
    }

    .c4dlab .slider-img {
        max-width: 90% !important;
    }

    .teb .slider-img {
        max-width: 90% !important;
        margin-top: -1vh !important;
    }

    .ujam .slider-img {
        max-width: 90% !important;
        margin-top: 1vh !important;
    }

    .carousel-wrapper {
        margin-top: -4vh;
    }
}

@media only screen and (min-device-width: 300px) and (max-device-width: 600px) {
    #tools .carousel-wrapper {
        margin-top: 5px !important;
        margin-left: 65px !important;
    } 

    #tools .flutter .slider-img {
        width: 50px !important;
        margin-left: 0px !important;
    }

    #tools .carousel-container {
        grid-auto-columns: 0%;
        grid-template-columns: repeat(1, 1fr);
    }
}

#tools {

    .carousel-container {
        margin-bottom: 0px;
    }

    .adobe-xd .slider-img {
        width: 30% !important;
        transform: scale(0.8);
    }

    .illustrator .slider-img {
        width: 30% !important;
        transform: scale(0.8);
    }

    .zeplin .slider-img {
        width: 50% !important;
        transform: scale(0.8);
    }

    .sketch .slider-img {
        width: 40% !important;
        transform: scale(0.8);
    }

    .angular .slider-img {
        width: 40% !important;
        transform: scale(0.8);
    }

    .flutter .slider-img {
        width: 50px !important;
        transform: scale(0.8);
        margin-left: 20px;
    }

    .ionic .slider-img {
        width: 30% !important;
        transform: scale(0.8);
    }

    .item-active {
        justify-content: left !important;
    }

    .carousel-wrapper {
        padding-left: 10vw;
        padding-right: 10vw;
        margin-top: -4vh;
    }
}

.hero-carousel {
    width: 100%;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 600px) {

    #hero .carousel-container {
        grid-auto-columns: 0px;
        grid-template-columns: repeat(1, 1fr);
        width: 100vw;
        padding-top: 0px !important;
    }

    #hero .item-active {
        padding-left: 0px !important;
    }
}

#hero {

    .carousel-container {
        padding-right: 5px;
    }

    .wavvy-wallet, .chuo, .onekana-hero, .sfa {
        .slider-img {
            width: 800px;
            height: 700px;
            margin-top: -11vh;
            margin-left: -1vw;
            border-radius: 12px;
            padding-top: 80px;
        }
    } 
}

#prototype {
    margin-top: -60px !important;

    .carousel-container {
        margin-left:-40px;
    }

    .image {
        .slider-img {
            width: 100%;
        }
    }
}
