@keyframes colorPulse {
    0% {background-color: #374395;}
    21% {background-color: #374395;}
    46% {background-color: #F6E387;}
    71% {background-color: #3086C6;}
   96% {background-color: #F6C256;}
   100% {background-color: #F6C256;}
}

@keyframes colorPulse2 {
    0% {color: #2c2c2c;}
    21% {color: #374395;}
    46% {color: #F6E387;}
    71% {color: #3086C6;}
   96% {color: #F6C256;}
   100% {color: #F6C256;}
}

@keyframes colorPulse3 {
    0% {border-color: #2c2c2c;}
    21% {border-color: #374395;}
    46% {border-color: #F6E387;}
    71% {border-color: #3086C6;}
   96% {border-color: #F6C256;}
   100% {border-color: #F6C256;}
}

.navigation-bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: red;
    width: 100vw;
    height: 10vh;
    align-items: center;
}

.nav-links {
    display:grid;
    grid-template-columns: repeat( auto-fit, minmax(0.5fr, 1fr) );

}

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 150px;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 600px) {
    .hero { 
        grid-template-columns: repeat(1, 1fr); 
        grid-template-areas: "right"
                             "left";
        .hero-left-layout {
        grid-area: left;
        width: 80vw;
        text-align: center;
        }

        .hero-right-layout {
        grid-area: right;
        }  

        .description-sub-text {
            width: 80vw !important;
            margin-top: 0px !important;
        }

        .hero-carousel {
            height: 70vh !important;
        }

    .card {
            display: none;
        }

    }
}

@media (min-width: 1000px) {
    .hero { 
        grid-template-columns: repeat(2, 1fr); 
        row-gap: 100px;
    }
}


.hero-left-layout {
    width: 35vw;
    margin-left: 10vw;
    text-align: left;
    padding-top: 60px;
}

.description-sub-text {
    width: 26vw;
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: var(--color-text-black);
    margin-top: 16vh;
}

.description-text {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: var(--color-text-black);
    margin-top: 4vh;
}

.btn-default {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
    width: 250px;
    height: 58px;
    border: none;
    border-radius: 10px;
    background-color: var(--color-purple);
    color: var(--color-white);
    box-shadow: 0px 10px 6px #00000029;
    margin-top: 4vh;
    animation: colorPulse 7.2s infinite normal;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}

.hero-right-layout {
    text-align: left;
    padding-top: 100px;
}

.card {
    width: 470px;
    height: 585px;
    margin-top: 4vh;
    margin-left: 3vh;
    border: none;
    background-color: var(--color-purple);
    box-shadow: 0px 0px 10px #00000029;
    border-radius: 12px;
    position: absolute;
    z-index: -1;
    animation: colorPulse 7.2s infinite normal;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}

.hero-image {
    object-fit: contain;
    max-width: 66%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 12px;
    margin-left: 1.6vw;
    object-fit: cover;
    margin-top: -6vh;
    box-shadow: 0px 10px 10px #00000029;
}

.hero-carousel {
    width: 570px;
    height: 690px;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 600px) {
    .hero-carousel {
        width: 100%;
    }   
}

.services-sub-text {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-top: 6vh;
}

.my-services-sub-text {
    padding-top: 5px !important; 
}

.my-services-text {
    width: 42%;
    margin: auto;
}

.service-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 60px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 6vh;
    justify-items: center;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 600px) {
    .service-cards { 
        grid-template-columns: repeat(1, 1fr); 
        row-gap: 100px;
    }
}

@media (min-width: 700px) {
    .service-cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1000px) {
    .service-cards { 
        grid-template-columns: repeat(4, 1fr); 
    }
}

.s-card {
    width: 280px;
    height: 280px;
    background-color: var(--color-white);;
    box-shadow: 0px 10px 10px #00000029;
    border-radius: 12px;
    cursor: pointer;
}

.s-content {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.s-image {
    width: 100%;
}

.s-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
}

.s-footer-title {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin-left: 18px;
}

.s-footer-button {
    width: 106px;
    height: 29px;
    font-size: 10px;
    background-color: transparent;
    border: 1px solid #562AF0;
    border-radius: 8px;
    margin-top: -0.5vh;
    animation: colorPulse3 7.2s infinite normal;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}

.btn-small {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 13px;
    width: 200px;
    height: 48px;
    border: none;
    border-radius: 10px;
    background-color: var(--color-purple);
    color: var(--color-white);
    box-shadow: 0px 10px 6px #00000029;
    display: block;
    margin: auto;
    margin-top: 8vh;  
    margin-bottom: 5vh;
}

.work {
    background-color: var(--color-white);
}

.work-sub-text {
    padding-top: 8vh;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 600px) {
    
    .service-list {
        grid-template-columns: repeat(1, 1fr) !important;
        row-gap: 100px;
        margin-left: 0px !important;
    }

    .service {
        justify-items: center;
    }

    .work-text, .services-sub-text {
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
    }

    .service-text-1 {
        margin-left: 70px !important;
        width: 100%;
    }
}

.work-text {
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: var(--color-text-black);
    text-align: center;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 10vw;
    margin-top: 8vh;
}

.service {
    display: grid;
    grid-template-rows: repeat(3, 1fr, 0.2fr, 1fr);
}

.service-image {
    width: 70%;
    border-radius: 12px;
    padding-bottom: 30px;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 600px) {
    .service-image-link {
        display: grid;
        justify-content: center;
    }

    .service-image {
        justify-self: center;
    }

    .tools {
        margin-top: 0vh !important;
    }
}

.service-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
}

.service-text-1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-text-black);
    margin-left: 10px;
}

.service-number {
    font-family: 'Prompt', sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: var(--color-purple);
    margin-top: -2vh;
    opacity: 60%;
}

.service-text-2 {
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: var(--color-text-black);
    margin-left: 10px;
    width: 65%;
}

.tools {
    background-color: var(--color-white);
    padding-top: 1vh;
    margin-top: 10vh;
}

.social {
    background-color: var(--color-bg-black);
    padding-bottom:4vh;
}

.find-me {
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: var(--color-white);
    padding-top: 8vh;
}

.social-wrapper {
    @extend .find-me;
    padding-top: 0vh;
}

.social-links {
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    animation: colorPulse2 7.2s infinite normal;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}

.btn-footer {
    margin-top: 4vh;
    animation: colorPulse 7.2s infinite normal;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 600px) {
    .footer {
        grid-template-columns: repeat(1, 1fr) !important;
        margin: 10px !important;
        font-size: 10px !important;
        justify-items: center;
    }

    .terms {
        margin: 10px !important;
    }

    .site-info {
        padding-left: 0px !important;
    }
}

.footer {
    display: grid;
    margin-top: 2vh;
    justify-content: center;
}

.terms, .site-info {
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.site-info {
    justify-self: center;
}

.more-projects {
    animation: colorPulse 7.2s infinite normal;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}

.more-projects-link {
    text-decoration: none;
}

.resume-image {
    width: 13px;
}

.footer-btn-wrapper {
    text-decoration: none;
}
