<app-navigation-bar></app-navigation-bar>

  <!-- Hero Section -->
  <div class="hero">
    <div class="hero-left-layout">
        <p class="description-sub-text">
            I’m Ali Chivatsi Dennis - a multidisciplinary visual designer based in Kenya specialized in UI/UX Design, Graphic Design and Front-end web and mobile development
        </p>
        <h3 class="description-text">Designing Intuitive Interfaces that users <br>love to use</h3>
        <button class="btn-default">Get In Touch</button>
    </div>

    <div class="hero-right-layout">
        <div class="card">
        </div>
        
        <div class="hero-carousel">
          <lib-carousel id="hero"
          [sliderItems]="heroCarousel" 
          [sliderOptions]="heroOptions"
          [slidesToShow] = 1
          [autoSlide]="true"
          [slideInterval]="1800">
        </lib-carousel>
        </div>

    </div>
  </div>

  <!-- Services Section -->
  <div class="services">
    <p class="services-sub-text">Here are some key projects I have worked on recently</p>

    <div class="service-cards">
      <div *ngFor="let item of serviceCards" class="s-card">
        <div class="s-content">
          <a href="{{item.link}}">
          <img class = "s-image" src="{{item.image}}" alt="">
          </a>
          <div class = "s-footer">
            <p class="s-footer-title">{{item.title}}</p>
            <a href="{{item.link}}">
              <button class="s-footer-button">{{item.button}}</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <span>
      <a class="more-projects-link" href="https://www.behance.net/chivatsi" target="_blank"><button class="btn-small more-projects">More Projects</button></a>
    </span>
  </div>

  <!-- Previously worked with -->
  <div class="work">
    <p class="services-sub-text work-sub-text">Recently worked with</p>
    <p class="work-text">Here are some amazing brands I have worked with on their app, website and/or frontend development</p>

    <lib-carousel id="partners"
      [sliderItems]="partnersCarousel" 
      [sliderOptions]="partnersOptions"
      [slidesToShow] = 4
      [autoSlide]="true"
      [slideInterval]="3000">
    </lib-carousel>

  </div>

  <!-- Services I can help with -->
  <div class="my-services">
    <p class="services-sub-text work-sub-text my-services-sub-text">Services I can help you with</p>
    <p class="work-text my-services-text">Over the last 5 years, I have worked with businesses to develop their brands and unique identity through graphic design, UI/UX design and front-end software development</p>

    <div class="service-list">
     <div *ngFor="let item of serviceList" class="service">
      <a href="https://www.behance.net/chivatsi"><img src="{{item.image}}" alt="" class="service-image"></a>
      <div class="service-text">
        <p class="service-text-1">{{item.text}}</p>
        <p class="service-number">{{item.number}}</p>
      </div>
      <p class="service-text-2">{{item.description}}</p>
     </div>
    </div>
    
  </div>

  <!-- My Tools -->
  <div class="tools">
    <p class="services-sub-text work-sub-text my-services-sub-text">My Tools</p>
    <p class="work-text my-services-text">What is a workman without his tools</p>

      <lib-carousel id="tools"
        [sliderItems]="toolsCarousel" 
        [sliderOptions]="toolsOptions"
        [slidesToShow] = 7
        [autoSlide]="true"
        [slideInterval]="3000">>
      </lib-carousel>
  </div>
  <app-footer></app-footer>
