  <!-- Reach Me -->
  <div class="social">
    <p class="find-me">You can find me on</p>
    <p class="social-wrapper"><a href="https://www.linkedin.com/in/chivatsi/" target="_blank" class="social-links">LinkedIn, </a><a href="https://www.instagram.com/djallyfresh/" target = "_blank" class="social-links">Instagram, </a><a href="https://www.behance.net/chivatsi" target = "_blank" class="social-links">Behance</a></p>
    <a href="https://drive.google.com/file/d/1SGYTqXj76vc6cAkFDwuZxoOuOMfcec6Q/view?usp=sharing" target="_blank" class="footer-btn-wrapper">
      <button class="btn-small btn-footer">Download My Resume</button>
    </a>
  </div>

  <!-- Footer -->
  <div class="footer">
    <p class="site-info">2022 © Designed and Developed by Ali Chivatsi Dennis</p>
  </div>